.dropdown{
margin-top:20px;
color:#616f77;
min-width:420px;
}

.dropdown ul{
margin-top:25px;
}

.dropdown label{
color:#616f77;
}

.selected{
color:blue;
}

.bubbleSizeDropdown{
margin-top:-48px;
color:#333;
}

.bubbleSizeDropdownOpen{
margin-top:20px;
}

.inputLabel{
color:blue;
}