.chip {
  font-size: 18px;
  color: 333;
}

.filter-bar {
  background-color: #333;
  padding: 10px;
}

.filter-bar-container {
  display: inline-block;
  padding-top: 0.8em;
}

.sidebar-collapse {
  color: white;
  font-size: 35px;
  margin-left: 10px;
  margin-right: 20px;
  &:hover {
    cursor: pointer;
  }
}