.mock-chk-bx {
  display: inline-block;
  float: right;
  margin-right: 15px;
  margin-top:20px;
  width:0 !important;
}


.drop-down-div {
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 24px;
  padding-right:3px;
}

.second-step-div {
  font-size: 24px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.first-step-div {
  font-size: 24px;
  minHeigh: 450px;
}

.glob-div {
  width: 100%;
  margin: auto;
}

.gmcColumn{
text-align:right;
}

.totals{
margin-left:75px;
background-color:yellow;
text-align:center;
}
