.mock-chk-bx {
  display: inline-block;
  float: right;
  margin-right: 150px;
  width:0 !important;
}

.simulate-list-btn {
  z-index: 9999;
  left: 79vw;
  bottom: 38px;
  position: relative;
}

.badgeLocation-btmsheet {
  z-index: 99;
  left: 2.15vw;
  bottom: 20px;
}